/* --- INTRO --- */
@keyframes appear {
    0% {opacity: 0;}
    100%{opacity: 1;}
  }

  /* @keyframes appear {
    from {: 0;}
    to {background-opacity: 1;}
  } */
body#intro {
    background-image: url("images/animals-dogs-vector-seamless-pattern-allnikart.jpg");
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    animation-name: appear;
    animation-duration: 3s;
}

body#game{
    padding: 30px;
}

div#container-game{
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    border-radius: 30px;
    /* box-shadow: 1px 1px 12px; */
    padding: 30px;
    /* filter: blur(3px); */
}

div#container-intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: bisque;
    border-radius: 30px;
    box-shadow: 1px 1px 12px;
}

footer#footer-intro{
    background-color: bisque;
    position:fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 10px;
}

button {
    color: #fff;
    padding: 5px 30px;
    background-color: #ff9768;
    border: 1px solid #ff8851;
    font-family: cursive;
    box-shadow: 1px 1px 5px 5px #dba78f;
    border-radius: 10px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

button:hover {
    box-shadow: 0 0 20px 20px #ff8851 inset;
    outline: 0;
    cursor: pointer;
}

header h1{
    color: black;
    font-size: xxx-large;
    font-family: system-ui;
}

#randomDog {
    width: 250px;
    height: 250px;
    background-color: rgb(244 244 244);;
    border: 4px inset #ff8851;
    box-shadow: 1px 1px 6px;
    border-radius: 150px;
    margin-bottom: 25px;
}

#matriz{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px ;
    grid-template-rows: 150px 150px 150px 150px;
    
}

#matriz div {
    border-radius: 100px;
    box-shadow: 1px 1px 6px;
    background-color:rgb(244 244 244);;
    border: 4px outset #ff8851;
    margin: 5px;
    
}

div.center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#uno{
    animation:appear 5s ease-in-out 
}

#dos{
    animation:appear 4s ease-in-out 
}

#tres{
    animation:appear 3s ease-in-out 
}

#cuatro{
    animation:appear 1s ease-in-out 
}

#cinco{
    animation:appear 1.25s ease-in-out 
}
#seis{
    animation:appear 1.5s ease-in-out 
}
#siete{
    animation:appear 1.75s ease-in-out 
}
#ocho{
    animation:appear 2s ease-in-out 
}
#nueve{
    animation:appear 2.25s ease-in-out 
}
#diez{
    animation:appear 2.5s ease-in-out 
}
#once{
    animation:appear 2.75s ease-in-out 
}
#doce{
    animation:appear 3s ease-in-out 
}
#trece{
    animation:appear 3.25s ease-in-out 
}
#catorce{
    animation:appear 3.5s ease-in-out 
}
#quince{
    animation:appear 3.75s ease-in-out 
}
#dieciseis{
    animation:appear 4s ease-in-out 
}
#diecisiete{
    animation:appear 4.25s ease-in-out 
}
#dieciocho{
    animation:appear 4.5s ease-in-out 
}
#diecinueve{
    animation:appear 4.75s ease-in-out 
}
#veinte{
    animation:appear 5s ease-in-out 
}




/* "dos","tres","cuatro","cinco","seis","siete","ocho","nueve","diez","once","doce","trece","catorce","quince","dieciseis","diecisiete","dieciocho","diecinueve","veinte" */
